<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Season</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Contenido (content_id)</ion-label>
    <ion-input type="number" [(ngModel)]="content_id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Número de temporada</ion-label>
    <ion-input type="number" [(ngModel)]="season_number"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="guardar()">Guardar</ion-button>
</ion-content>
