<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/favorite-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Profile ID</ion-label>
    <ion-input type="number" [(ngModel)]="profile_id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Content ID</ion-label>
    <ion-input type="number" [(ngModel)]="content_id"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="guardar()">Guardar</ion-button>
</ion-content>
