<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Language</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre del idioma</ion-label>
    <ion-input type="text" [(ngModel)]="language_name"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="guardar()">Guardar</ion-button>
</ion-content>
